{{#layout/-container local-class="container"}}
  <h2 local-class="sub-title">Package: <strong>{{model.name}}</strong></h2>
  <div local-class="package-info">
    {{#each properties as |propDest|}}
      <div local-class="package-info-item">
        <strong>{{propDest.label}}:</strong>
        <em>{{get model propDest.key}}</em>
      </div>
    {{/each}}
  </div>
  {{#if model.githubLink}}
    <div local-class="github-mention">
      <a local-class="github-link" href={{model.githubLink}}>View on github</a>
    </div>
  {{/if}}
  {{outlet}}
{{/layout/-container}}
