<div local-class="visualisation-split">
  {{#if groupDescriber}}
    <div local-class="legend">
      <h3 local-class="legend-title">Legend</h3>
      <div local-class="legend-list">
        {{#each legend as |it|}}
          <div local-class="legend-it" style={{it.style}}>
            <div local-class="legend-it-title">{{it.description}}</div>
            <div local-class="legend-it-color">&nbsp;</div>
          </div>
        {{/each}}
      </div>
    </div>
  {{/if}}
  {{#if filtered.hasData}}
    {{component graph-component-name local-class="graph"
        showLines=showLines
        selectNode=(action (mut selectedResultId))
        lines=filtered.lines
        bounds=filtered.bounds
        colorPicker=(action colorPicker)
        entries=filtered.entries}}
  {{else}}
    <div local-class="no-data">
      <p local-class="no-data-message"> No data </p>
    </div>
  {{/if}}
  <div local-class="node-i">
    {{#if showYBounds}}
      {{info/-range-description selectedBounds.y local-class="node-i_entry"}}
    {{/if}}
    {{#if showXBounds}}
      {{info/-range-description selectedBounds.x local-class="node-i_entry" truncation=0}}
    {{/if}}
    {{#if selectedResult}}
      {{#info/-labeled "Package" selectedResult.package local-class="node-i_entry" as |pkg|}}
        {{#link-to "package.show" pkg.id local-class="entry-value-link"}}{{pkg.name}}{{/link-to}}
      {{/info/-labeled}}
      {{info/-labeled "GHC Version"  selectedResult.ghcVersion  local-class="node-i_entry"}}
      {{info/-labeled "File Size"    selectedResult.fileSize    local-class="node-i_entry"}}
      {{info/-labeled "Compile Time"
          (truncate-decimal selectedResult.averageTime places=2)
          local-class="node-i_entry"}}
    {{else}}
      <p local-class="node-i_entry">
        No node selected
      </p>
    {{/if}}
  </div>
</div>

{{#if currentScript}}
  <div local-class="meta">
    <p local-class='description'>
      <strong local-class='tag-label'>Tags:</strong>
      <em local-class="tags">
        {{format-tags currentScript.tags item-class=classes.tag}}
      </em>
    </p>
    {{#link-to 'script.show' currentScript.id local-class="script-link"}}
      View Script
    {{/link-to}}
  </div>
{{/if}}
